<body>
    <div class="masthead text-white justify-content-center text-center">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto main-heading">
            <h1 class="mb-3">Page Not Found</h1>
            <p>The page you searched is not available</p>
            <button (click)="goBack()" class="btn btn-primary">Go Back</button>
          </div>
        </div>
      </div>
    </div>

  

 
  </body>
  <!-- <app-footer></app-footer> -->