<body>
    <div class="d-flex" id="wrapper">
        <div class="bg-light border-right" id="sidebar-wrapper">
            <div class="list-group list-group-flush">
                <app-sidebar></app-sidebar>
            </div>
        </div>

        <div class="home-right-cont" id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row justify-content-center text-center">
                <div class="col-md-10">
                <div class="heading mb-5">
                <span class="subtitle">Amazing Staff</span>
                <h3 class="mt-4 text-capitalize font-italic">Meet Our Team</h3>
                </div>
                </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6 mb-4" *ngFor="let team of teams">
                        <div class="person text-center">
                        <img [src]="team.imagePath" alt="{{ team.name }}" class="img-fluid mb-4">
                            <div class="px-4">
                                <h2 class="mb-2">{{ team.name }}</h2>
                                <p class="caption mb-4">{{ team.designation }}</p>
                                <p>{{ team.description }}</p>
                                <div class="social-icons mt-5">
                                    <a href="#"><span class="icon-facebook"></span></a>
                                    <a href="#"><span class="icon-instagram"></span></a>
                                    <a href="#"><span class="icon-twitter"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>