<!-- <div class="container" *ngIf="trip">
    <div class="row">
        <div class="col-md-8">
            <br>
            <div class="card mb-4">
                <img class="card-img-top" [src]="trip.imagePath" alt="{{trip.title}}">
                <div class="card-body">
                  <h2 class="card-title">{{ trip.title }}</h2>
                  <p class="card-text">gchgfmgc</p>
                  <button (click)="goBack()" class="btn btn-primary">go back</button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
        </div>
    </div>
</div> -->
<body>
<div class="container">
    <div class="row">       
            <div class="col-md-8">
                <br>
                <div class="card mb-4">
                    <img class="card-img-top" [src]="trip.imagePath" alt="{{trip.title}}">
                </div>
            </div>
            <div class="col-md-4">
                <div class="card-body">
                    <h2 class="card-title text-capitalize font-italic">{{ trip.title }}</h2>
                    <h5 class="text-justify font-weight-bold">Trip Budget(Approx)</h5><p class="font-italic">${{ trip.budget }}</p>
                    <p class="card-text">{{ trip.description }}</p>
                    <button (click)="goBack()" class="btn btn-primary">Go Back</button>
                </div>
            </div>
    </div>
</div>
</body>