
<div class="sidebar" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">
    <a routerLink="/home/our-story" class="list-group-item list-group-item-action bg-light" routerLinkActive="active">Our Story</a>
    <a routerLink="/home/our-team" class="list-group-item list-group-item-action bg-light" routerLinkActive="active">Our Team</a>
    <a routerLink="/home/trips" class="list-group-item list-group-item-action bg-light" routerLinkActive="active">Trips Done So Far</a>
    <a routerLink="/home/upcoming-trips" class="list-group-item list-group-item-action bg-light" routerLinkActive="active">Upcoming Trips</a>
    <a routerLink="/home/happy-travellers" class="list-group-item list-group-item-action bg-light" routerLinkActive="active">Happy Travellers</a>
    <!-- <a href="#" class="list-group-item list-group-item-action bg-light">Status</a> -->
</div>

