<body>
    <div class="d-flex" id="wrapper">
        <div class="bg-light border-right" id="sidebar-wrapper">
            <div class="list-group list-group-flush">
                <app-sidebar></app-sidebar>
            </div>
        </div>
        
        <div class="home-right-cont" id="page-content-wrapper">
            <div class="container-fluid">
                <h2 class="mt-4 text-capitalize font-italic">Our Story</h2>
                <p class="font-italic">"It’s a great, big world out there with billions and billions of people, who each day live their 
                    life and have their own unique experiences."</p>
                <p class="text-justify font-weight-bold">Traveling is a humbling experience. It is merely a superior feeling: to go to another country, 
                    and to see people live differently, speak differently, look differently. This is how one comes to understand how big 
                    and crazy our world is.</p>
                    
                    <p class="text-justify font-weight-bold">Another benefit to traveling is coming to see one’s native country in a different light, 
                        in a different way. It is possible through making a comparison of your home and a foreign location. Sure, this
                         is impossible without traveling. Going to unknown places create new perspectives and inspiration.</p>
            </div>
        </div>
    </div>  
</body>