<body>
    <div class="d-flex" id="wrapper">
        <div class="bg-light border-right" id="sidebar-wrapper">
            <div class="list-group list-group-flush">
                <app-sidebar></app-sidebar>
            </div>
        </div>
        
        <!-- <div class="bg-light border-right">
                <app-sidebar></app-sidebar>
        </div> -->
        
        <div class="home-right-cont" id="page-content-wrapper">
            <!-- <button class="btn btn-primary" id="menu-toggle">Toggle Menu</button> -->
            <div class="container-fluid">
                <h2 class="mt-4 text-capitalize font-italic">Traveling – The First Thing on Your To-Do List</h2>
                <p class="font-italic">"Traveling is an extraordinary experience every person needs to try. It reveals a whole new and exciting world 
                out there, opens out your inner strength, and presents with unforgettable adventures. Read an example of essay
                 about traveling to learn more and get inspired"</p>

                 <p class="text-justify font-weight-bold">There is nothing quite like traveling, like seeing a new place for the first time or returning to a favorite one. 
                     People of all ages, from all around the world, go to foreign places for different reasons – mainly, for work, 
                     family, and leisure. Whether by plane, train, ship or by automobile, traveling is generally a pleasurable experience,
                      at least for the people who can financially afford comfortable and safe methods of travel. But it has more benefits
                 than satisfying one’s need to make money, like, for example, to see loved ones and enjoy oneself on vacation. There are 
                 other benefits of traveling worth mentioning and trying out.</p>
                <p class="text-justify font-weight-bold">One of the significant benefits of traveling is finding and keeping inner 
                    balance. Too often, people get wrapped up in their lives, their daily routine of working, sleeping, eating, and 
                    living. They become self-absorbed to the point when their fatigue affects their health, their happiness, and their 
                    future.</p>
            </div>
        </div>
    </div>  
</body>